@model Darknet.Web.Models.UserDetailsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-center">Welcome to @Model.FirstName's page on DarkNet</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <partial name="_UserDetailsPartial" />
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Posts</h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Post-1
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Post-2
            </div>
        </div>
    </div>
</div>
