@model Darknet.Models.UserDetailsModel
@{
    ViewData["Title"] = "User Details";
}
<h2>View Profile</h2>
<hr />

<div class="lead">
    <div class="row">First Name: @Model.FirstName</div>
    <div class="row">Last Name: @Model.LastName</div>
    <div class="row">Mobile: @Model.Mobile</div>
    <div class="row">Address: @Model.Address</div>
</div>  