@model Darknet.Web.Models.UserDetailsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-center">Welcome to DarkNet, @Model.FirstName!</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <partial name="_UserDetailsPartial" />
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Update your status</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/UserDetails/StatusUpdate">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="What are you thinking now?"></textarea>
                    </div>
                    <div class="form-inline">
                        <select id="input_sex" class="form-control">
                            <option value="select">Select Privacy Level</option>
                            @foreach (var option in Model.lstPrivacyLevelsModel)
                            {
                                <option value="@option.code">@option.value</option>
                            }
                            @*<option value="select">Set Privacy Level</option>
                            <option value="public">Public</option>
                            <option value="friends">Friends</option>
                            <option value="acquaintance">Acquaintance</option>*@
                        </select>

                        <button type="button" class="btn btn-default btn-success pull-right">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Posts</h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Post-1
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Post-2
            </div>
        </div>
    </div>
</div>
