
<div class="jumbotron">
    <div class="text-center">
        <h2 class="text-center">Implicit Flow</h2>
        <h3>Here is your token:</h3>
        <textarea cols="100" rows="3">@ViewData["Token"]</textarea>
    </div>
</div>